table
{
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 12px;
background: #fff;
margin: 10px 20px;
border-collapse: collapse;
text-align: center;
table-layout: fixed;
}
th
{
font-size: 14px;
font-weight: normal;
color: #039;
padding: 10px 8px;
border-bottom: 2px solid #6678b1;
}
th.score {
width: 55px;
}
th.name {
width: 100px;
}
th.category {
width: 110px;
}
th.top {
width: 75px;
}
td
{
color: #669;
padding: 4px 4px 4px 4px;
}
table.warning td
{
color: #c33;
padding: 4px 4px 4px 4px;
}
table.mainTable td.own.deps .button {
background-color: #fdd;
}
table.mainTable td.own .button
{
padding-left:20px;
background-position: 5px 8px;
background-repeat: no-repeat;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAU0lEQVR42mNgoAHgZ2FjO8/MxjafaMUs7Oz/QZiQJhTFYAzkg2VAOqEcfgKK+SGKUQXlcSoGAQxJdIxqMw7r8ShmIOhmokKFCMVwTdCw5qdatAMAai8zEfxslWsAAAAASUVORK5CYII=);
background-color: #dfd;
}
.button {
position: relative;
overflow: visible;
display: inline-block;
padding: 0.5em 1em;
border: 1px solid #d4d4d4;
margin: 0;
text-decoration: none;
text-align: center;
text-shadow: 1px 1px 0 #fff;
color: #333;
white-space: nowrap;
cursor: pointer;
outline: none;
background-color: #ececec;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
background-image: -moz-linear-gradient(#f4f4f4, #ececec);
background-image: -ms-linear-gradient(#f4f4f4, #ececec);
background-image: -o-linear-gradient(#f4f4f4, #ececec);
background-image: linear-gradient(#f4f4f4, #ececec);
-moz-background-clip: padding; /* for Firefox 3.6 */
background-clip: padding-box;
border-radius: 0.2em;
/* IE hacks */
zoom: 1;
*display: inline;
}
tbody tr:hover td
{
color: #009;
background: #eee;
}
td.S {
color: #FB3;
}
td.A {
color: #F0A;
}
td.B {
color: #A66;
}
td.C {
color: #38F;
}
td.negative {
text-decoration: line-through;
}
div.facet {
margin-left:10px;
}
div.announcement {
max-width: 800px;
}
div.weightContainer {
display: inline-block;
}
ul.tabs {
margin: 0;
padding: 0;
list-style: none;
height: 32px;
border-bottom: 1px solid #999;
border-left: 1px solid #999;
width: 100%;
}
ul.tabs li {
float: left;
margin: 0;
padding: 0;
height: 31px;
line-height: 31px;
border: 1px solid #999;
border-left: none;
margin-bottom: -1px;
background: #F0F0F0;
overflow: hidden;
position: relative;
}
ul.tabs li a {
text-decoration: none;
color: #000;
display: block;
font-size: 1.2em;
padding: 0 10px;
border: 1px solid #fff;
outline: none;
}
ul.tabs li a:hover {
background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  {
background: #fff;
border-bottom: 1px solid #fff;
}
#category_container div {
display:none;
}
#category_container div.active {
display:block;
}



#filtersTop div {
padding-top:10px;
}

[tooltip]:after {
margin-left: 5px;
position : absolute;
content : attr(tooltip);
opacity : 0;
z-index: 255;
white-space: pre;
text-align: left;
background-color: #bfb;
}
[tooltip]:hover:after {
opacity : 1;
padding: 10px;
}
td.deps [tooltip]:after {
background-color: #fbb;
}
.panel {
width: 50em;
}
.panel h3 {
margin: 0px;
padding: 0px;
font-size: 0.85em;
}
.panel h3 a {
display: block;
background: #668bb1;
color:#fff;
padding:10px;
text-decoration:none;
position: relative;
}
.panel h3 a:after {
content: '+';
position: absolute;
right: 20px;
}
.panel h3.open a {
background: #c4ced5;
color:inherit;
}
.panel h3.open a:after {
content: '-';
}
span.more {
cursor: pointer;
}
table.ranking {
width: 100%;
text-align:left;
font-size: 0.9em;
}
table.ranking span {
display: inline-block;
}
table.ranking td.category {
width: 7em;
vertical-align: top;
}
.red {
color: red;
}
.blue {
color: blue;
}
select
{
width: 200px;
height: 29px;
border-radius: 3px;
border: 1px solid #CCC;
font-weight: 200;
font-size: 1em;
font-family: Verdana;
box-shadow: 1px 1px 5px #CCC;
}
select: hover
{
width: 200px;
height: 29px;
border-radius: 3px;
border: 1px solid #CCC;
font-weight: 200;
font-size: 1em;
font-family: Verdana;
box-shadow: 1px 1px 5px #CCC;
}
input[type=text] {
height: 1.5em;
border-radius: 3px;
border: 1px solid #CCC;
padding-left: 8px;
margin: 1px;
font-weight: 200;
font-size: 1em;
font-family: Verdana;
box-shadow: 1px 1px 5px #CCC;
}
input.suggest {
width: 30em;
}
div.control {
height: 1.8em;
}
input[type=radio].nice, input[type=checkbox].nice {
display:none;
}
input[type=radio].nice + label, input[type=checkbox].nice + label {
display:inline-block;
margin:-2px;
padding: 4px 12px;
margin-bottom: 0;
font-size: 14px;
line-height: 20px;
color: #333;
text-align: center;
text-shadow: 0 1px 1px rgba(255,255,255,0.75);
vertical-align: middle;
cursor: pointer;
background-color: #f5f5f5;
background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
background-image: -o-linear-gradient(top,#fff,#e6e6e6);
background-image: linear-gradient(to bottom,#fff,#e6e6e6);
background-repeat: repeat-x;
border: 1px solid #ccc;
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
border-bottom-color: #b3b3b3;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
input[type=radio].nice:checked + label, input[type=checkbox].nice:checked + label{
background-image: none;
outline: 0;
-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
box-shadow: inset 0 2px 4px rgba(1,0,0,0.15),0 1px 2px rgba(1,0,0,0.05);
background-color:#e0ffff;
}

#chapterSelector input[type=radio] {
margin-top:20px;
}

#collectTypeSelector select{
margin-top:20px;
}
